html {
    background: #556B2F;
  }
    body {
    margin: auto;
    width: 480px;
    background:  #D3D3D3;
    }
  h1 {
    font-size:24;
    font-family: arial;
    padding: 16px 8px;
    }
    img {
      max-width: 100%;
      height: auto;
      }